/*
========================================
Main Layout
========================================
*/
body {
    
    background-image: linear-gradient(white, white, rgba(170, 170, 170, 0.938),white);
    font-family: hyundai sans text;
	width: calc(100vw - 24px);
}

.container {
    position: inherit;
    border-top: 1px solid lightgrey;
    border-left: 2px solid black;
    border-right: 1px solid grey;
    border-bottom: 2px solid black;
    border-radius: 5px;
    background: white;
    width: 475px;
    margin: 20% auto 3% auto; /* 20% from the top, 15% from the bottom and centered */
    box-shadow: 0 8px 25px 0 rgba(0,0,0,0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.692);  
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    text-align: center;
}
.logoplot {
	border-radius: 5px;
    background-color: white;
    padding: 5px;
}
.warning {
    color: white;
    font-style: italic;
    font-size: 11px;
    text-align: center;

}
.vid {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 22px;
}
.did {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 22px;
}

/*
========================================
Hyundai Entry
========================================
*/
.entry {
    border-top: 1px solid lightgrey;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 5px;
    width: 420px;
    padding: 5px;
    margin: 1% 5% 3%;
    background-image: linear-gradient(white, rgb(216, 161, 154), rgb(250, 7, 7));
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
}

.box1 {

    text-align: center;
    margin: 5px 17px 5px;
    background: white;
    width: 100px;
    padding: 2px;
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.box2 {
    text-align: center;
    margin: 0 15px 5px;
    background: white;
    width: 188px;
    padding: 2px;
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button1,
.button2 {
    border: 1px solid rgb(253, 2, 2);
    border-bottom: 1px solid black;
    border-radius: .25rem;
    padding: 3px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    color: rgb(253, 2, 2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*
========================================
Opening Animation
========================================
*/
.animate {
    -webkit-animation: animatezoom 0.8s;
    animation: animatezoom 0.8s
  }
    
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
      
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }